<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      <!-- main starts-->
      <div class="main-side col-xl-9 col-sm-12 box-col-12">
        <blockquote class="blockquote mb-4">
          <p>
            aaa Unleash Space’s Māori name is Kura Matahuna – the School of
            Hidden Potential. Unleash Space is your space to discover your
            hidden potential – create, play, make, invent, hack, experiment and
            do. Join us to build your skills and networks in a fun and
            supportive environment.<br />
            For those interested in exploring the world of innovation and
            entrepreneurship, there are workshops, a bookable meeting room,
            brainstorming spaces, experts and inspiration for your projects and
            ventures.<br />
          </p>
        </blockquote>

        <div class="d-flex flex-row-reverse bd-highlight btn-lg m-3">
          <a
            type="button"
            placement="top"
            class="btn btn-lg-x btn-air-primary btn-pill btn-secondary"
            [routerLink]="['/users/registration']"
          >
            Let's Start
          </a>
        </div>

        <!-- Steps inside the card -->
        <div class="card">
          <div class="card-header pb-0">
            <h4>Guid for UoA Student and Staff</h4>
            <p class="f-m-light mt-1">
              Follow the below steps to take trainings. If you are a curriculum
              student, the procedures are different. Please follow this guide.
              <a href="index.html">Guid for the curriculum student</a>
            </p>
          </div>
          <div class="card-body">
            <div class="accordion dark-accordion" id="simpleaccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Step 1 - Join Member
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseOne"
                  aria-labelledby="headingOne"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry.
                      <em class="txt-danger">Lorem Ipsum</em> has been the
                      industry's standard dummy text ever since the 1500s, when
                      an unknown printer took a galley of type and scrambled it
                      to make a type specimen book. It has survived not only
                      five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                    Step 2 - Orientation
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseTwo"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged. It was popularised in the
                      1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem
                      Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="true"
                    aria-controls="collapseThree"
                  >
                    Step 3 - Quiz
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseThree"
                  aria-labelledby="headingThree"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry.
                      <em class="txt-danger">Lorem Ipsum</em> has been the
                      industry's standard dummy text ever since the 1500s, when
                      an unknown printer took a galley of type and scrambled it
                      to make a type specimen book. It has survived not only
                      five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="true"
                    aria-controls="collapseFour"
                  >
                    Step 4 - Boook trainings
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseFour"
                  aria-labelledby="headingFour"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry.
                      <em class="txt-danger">Lorem Ipsum</em> has been the
                      industry's standard dummy text ever since the 1500s, when
                      an unknown printer took a galley of type and scrambled it
                      to make a type specimen book. It has survived not only
                      five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="true"
                    aria-controls="collapseFive"
                  >
                    Step 5 - Take Trainings
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseFive"
                  aria-labelledby="headingFive"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry.
                      <em class="txt-danger">Lorem Ipsum</em> has been the
                      industry's standard dummy text ever since the 1500s, when
                      an unknown printer took a galley of type and scrambled it
                      to make a type specimen book. It has survived not only
                      five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button
                    class="accordion-button collapsed bg-light-primary font-primary active"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix"
                    aria-expanded="true"
                    aria-controls="collapseSix"
                  >
                    Step 6 - Complete
                    <div class="svg-color" ng-reflect-icon="chevron-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down svg-color"
                        _ngcontent-ng-c1511804846=""
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show"
                  id="collapseSix"
                  aria-labelledby="headingSix"
                  data-bs-parent="#simpleaccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry.
                      <em class="txt-danger">Lorem Ipsum</em> has been the
                      industry's standard dummy text ever since the 1500s, when
                      an unknown printer took a galley of type and scrambled it
                      to make a type specimen book. It has survived not only
                      five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main ends-->

      <!-- right side starts-->
      <div class="right-side col-xl-3 box-col-3">
        <div class="card p-s">
          <div class="card-body">
            <div class="d-flex gap-4 mb-4">
              <div>
                <img
                  class="me-3 rounded-circle"
                  src="../assets/images/user/user.png"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <h4 class="f-w-600">KAY SHOJI</h4>
                <p>1233456789</p>
              </div>
            </div>
            <ul class="contact-list p-2">
              <li class="d-flex mt-2 mb-4">
                <span class="badge badge-info">Student</span>
                <span class="badge badge-warning">Staff</span>
                <span class="badge badge-success">Visitor</span>
              </li>

              <li class="d-flex align-items-center">
                <i class="fa fa-envelope-o side-icon"></i>
                <span class="p-2">kay.shoji&#64;auckland.ac.nz</span>
              </li>
              <li class="d-flex align-items-center">
                <i class="fa fa-phone side-icon"></i>
                <span class="p-2">+64 21 345 678 </span>
              </li>
              <li class="d-flex align-items-center">
                <i class="fa fa-institution side-icon"></i>
                <span class="p-2">Bachelor of science</span>
              </li>
            </ul>
            <hr class="dotted" />

            <ul class="contact-list mt-4">
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-info svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Member</span>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-success svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Orientation</span>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-danger svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Quiz</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- roght side ends-->
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
