<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      <!-- Left Sidebar starts-->
<!--      <div-->
<!--        class="col-12 col-md-3 col-xl-2 order-3 order-md-1 sidebar-left-wrapper"-->
<!--        id="sidebar-left"-->
<!--      >Left-->
<!--      </div>-->
      <!-- Left Sidebar ends-->

      <!-- Main starts-->
<!--      <div class="col-12 col-md-9 col-xl-10 order-2" id="main-content">-->
<!--        <div class="card">-->
<!--          Main -->
<!--        </div>-->
<!--      </div>-->
      <!-- Main ends-->
testestestes

    </div>
  </div>
  <!-- Container-fluid ends-->
</div>
