<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar starts-->
    <div class="col-12 col-md-3 col-xl-2 order-3 order-md-1 sidebar-left-wrapper" id="sidebar-left">
      <div class="card">
        <ul role="tablist" class="sidebar-left-icons nav nav-pills">
          <li class="nav-item ng-star-inserted">
            <a class="nav-link">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#product-category"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Guide</h6>
                <p class="mb-0">5 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a class="nav-link">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-form"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Registration</h6>
                <p class="mb-0">5 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a class="nav-link">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-maps"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Orientation</h6>
                <p class="mb-0">15 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a class="nav-link active">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-faq"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Quiz</h6>
                <p class="mb-0">10 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a class="nav-link">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Bookings</h6>
                <p class="mb-0">5 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link">
              <div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-learning"></use>
                  </svg>
                </div>
              </div>
              <div class="product-tab-content d-flex flex-column justify-content-center">
                <h6 class="nav-progress mb-1">Trainings</h6>
                <p class="mb-0">60 min</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Left Sidebar ends-->
    
    <!-- Main Content -->
    <div class="col-12 col-md-6 col-xl-8 order-1 order-md-2" id="main-content">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Quiz</h4>
        </div>
        <p class="m-3">
          The quiz consists of 20 questions. You must get at least 90% correct
          to pass.
        </p>
        <div class="card-body">
          <div class="progress sm-progress-bar overflow-visible ng-star-inserted">
            <div
                role="progressbar"
                aria-valuenow="3"
                aria-valuemin="0"
                aria-valuemax="20"
                class="progress-bar-animated small-progressbar bg-primary rounded-pill progress-bar-striped"
                style="width: 30%"
            ></div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between my-3">
                <h6 class="card-title my-3">Question 3</h6>
                <h6 class="card-title my-3">3 / 20</h6>
              </div>
              <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
                <h6 class="sub-title my-3">
                  While in Unleash Space members shall:
                </h6>
                <div class="payment-wrapper ng-star-inserted">
                  <div class="payment-first">
                    <div class="radio radio-primary form-check">
                      <input
                          type="radio"
                          class="form-radio-input ng-untouched ng-pristine ng-valid"
                          id="check-a"
                          ng-reflect-model="false"
                      /><label class="form-check-label m-2" for="check-a"
                    >Assume some disciplines or faculties are given greater
                      priority than others</label>
                    </div>
                  </div>
                </div>
                <div class="payment-wrapper ng-star-inserted">
                  <div class="payment-first">
                    <div class="radio radio-primary form-check">
                      <input
                          type="radio"
                          class="form-radio-input ng-untouched ng-pristine ng-valid"
                          id="check-b"
                          ng-reflect-model="false"
                      /><label class="form-check-label m-2" for="check-b"
                    >Treat the space differently than their home or
                      workspace</label>
                    </div>
                  </div>
                </div>
                
                <div class="payment-wrapper ng-star-inserted">
                  <div class="payment-first">
                    <div class="radio radio-primary form-check">
                      <input
                          type="radio"
                          class="form-radio-input ng-untouched ng-pristine ng-valid"
                          id="check-c"
                          ng-reflect-model="false"
                      /><label class="form-check-label m-2" for="check-c"
                    >Assume some disciplines or faculties are given greater
                      priority than others</label>
                    </div>
                  </div>
                </div>
                <div class="payment-wrapper ng-star-inserted">
                  <div class="payment-first">
                    <div class="radio radio-primary form-check">
                      <input
                          type="radio"
                          class="form-radio-input ng-untouched ng-pristine ng-valid"
                          id="check-e"
                          ng-reflect-model="false"
                      /><label class="form-check-label m-2" for="check-e"
                    >Assume staff instructions are suggestions</label>
                    </div>
                  </div>
                </div>
                <div class="payment-wrapper ng-star-inserted">
                  <div class="payment-first">
                    <div class="radio radio-primary form-check">
                      <input
                          type="radio"
                          class="form-radio-input ng-untouched ng-pristine ng-valid"
                          id="check-f"
                          ng-reflect-model="false"
                      /><label class="form-check-label m-2" for="check-f"
                    >Take responsibility; Waste not, want not; and leave
                      labels at the door</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div
              class="d-flex justify-content-between flex-row-reverse bd-highlight btn-lg m-3"
          >
            <a
                type="button"
                class="btn btn-primary"
                ng-reflect-router-link="/users/orientation"
                [routerLink]="['/users/quiz']">
              Next<i class="icon-arrow-right"></i>
            </a>
            <a
                type="button"
                class="btn btn-primary"
                [routerLink]="['/users/quiz']">
              <i class="icon-arrow-left"></i>Previous
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Right Sidebar starts-->
    <div class="col-12 col-md-3 col-xl-2 order-1 order-md-3" id="sidebar-right">
      <div class="card card-body bg-primary text-white">
        <div class="d-flex faq-widgets my-3">
          <div class="flex-grow-1">
            <h3 class="text-white">
              Step 4<br/>
              Quiz
            </h3>
            <p>Easy to begin, simple to pause</p>
          </div>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-book-open"
          >
            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
          </svg>
        </div>
        <a
            type="button"
            class="btn btn-outline-primary btn-progress"
            [routerLink]="['/users/training']">
          Next<i class="icon-arrow-right"></i>
        </a>
        <hr/>
        <a
            type="button"
            class="btn btn-outline-primary btn-progress"
            [routerLink]="['/users/guide']"
        >
          Save<i class="icon-save"></i>
        </a>
        <a
            type="button"
            class="btn btn-outline-primary btn-progress"
            [routerLink]="['/users/guide']"
        >
          Cancel<i class="icon-close"></i>
        </a>
      </div>
      <!-- Modal comment-->
      <hr>
      <div class="m-t-30 d-flex justify-content-end">
        <a type="button" class="text-gray"
           (click)="openModal(modalContent)">
          <app-feather-icons [icon]="'message-square'"></app-feather-icons>
        </a>
      </div>
      
      <!-- Right Sidebar ends-->
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!--Modal comment-->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalTitle">Modal Title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Modal content goes here</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

