<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar starts-->
    <div
      class="col-12 col-md-3 col-xl-2 order-3 order-md-1 sidebar-left-wrapper"
      id="sidebar-left"
    >
      <div class="card">
        <ul role="tablist" class="sidebar-left-icons nav nav-pills">
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use
                      href="assets/svg/icon-sprite.svg#product-category"
                    ></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Guide</h6>
                <p class="mb-0">5 min</p>
              </div></a
            >
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-form"></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Membership registration</h6>
                <p class="mb-0">5 min</p>
              </div></a
            >
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#advance"></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Orientation</h6>
                <p class="mb-0">15 min</p>
              </div></a
            >
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-project"></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Quiz</h6>
                <p class="mb-0">10 min</p>
              </div></a
            >
          </li>
          <li class="nav-item ng-star-inserted">
            <a class="nav-link active"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <span class="iconbg badge-light-danger svg-wrap">
                    <svg class="stroke-icon">
                      <use
                        href="assets/svg/icon-sprite.svg#stroke-gallery"
                      ></use>
                    </svg>
                  </span>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Training Bookings</h6>
                <p class="mb-0">5 min</p>
              </div>
            </a>
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-button"></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Take Trainings</h6>
                <p class="mb-0">60 min</p>
              </div></a
            >
          </li>
          <li class="nav-item ng-star-inserted">
            <a id="detail-product-tab" class="nav-link"
              ><div class="nav-rounded">
                <div class="product-icons">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-button"></use>
                  </svg>
                </div>
              </div>
              <div
                class="product-tab-content d-flex flex-column justify-content-center"
              >
                <h6 class="nav-progress mb-1">Feedback</h6>
                <p class="mb-0">5 min</p>
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Main start -->
    <div class="col-12 col-md-6 col-xl-7 order-2">
      <!-- Course starts -->
      <div class="card mb-1">
        <div class="card-body">
          <div class="blog-single">
            <div class="blog-box blog-details">
              <img
                class="img-fluid w-100"
                src="assets/images/demo/image1.png"
                alt="blog-main"
              />
              <div class="blog-details m-3">
                <ul class="blog-social mb-1">
                  <li>10 September 2024, 12:00 pm</li>
                  <li><i class="icofont icofont-user"></i>Trainer Name</li>
                </ul>
                <h4>3D Printer Training Semester 2</h4>
                <div class="single-blog-content-top">
                  <p class="mt-3">
                    Lorem Ipsum s simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                  <p class="mt-3">
                    Lorem Ipsum s simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Course ends -->

      <!-- Details tab starts -->
      <div class="card">
        <div class="row product-page-main">
          <div class="col-sm-12 mb-3">
            <ul
              id="top-tab"
              role="tablist"
              class="nav nav-tabs border-tab nav-primary mb-0"
            >
              <li class="nav-item">
                <a id="top-home-tab" class="nav-link active show"> Details </a>
                <div class="material-border"></div>
              </li>
              <li class="nav-item">
                <a
                  id="profile-top-tab"
                  role="tab"
                  class="nav-link"
                  ng-reflect-ng-class="[object Object]"
                >
                  Location
                </a>
                <div class="material-border"></div>
              </li>
              <li class="nav-item">
                <a
                  id="profile-top-tab"
                  role="tab"
                  class="nav-link"
                  ng-reflect-ng-class="[object Object]"
                >
                  Preparation
                </a>
                <div class="material-border"></div>
              </li>
              <li class="nav-item">
                <a
                  id="profile-top-tab"
                  role="tab"
                  class="nav-link"
                  ng-reflect-ng-class="[object Object]"
                >
                  Location
                </a>
                <div class="material-border"></div>
              </li>
            </ul>
            <div id="top-tabContent" class="tab-content mx-2">
              <div
                id="top-home"
                role="tabpanel"
                aria-labelledby="top-home-tab"
                class="tab-pane fade active show"
                ng-reflect-ng-class="[object Object]"
              >
                <p class="mb-0 m-t-20">
                  Lorem Ipsum s simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
                <p class="mb-0 m-t-20">
                  Lorem Ipsum s simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
              </div>
              <div
                id="top-profile"
                role="tabpanel"
                aria-labelledby="profile-top-tab"
                class="tab-pane fade"
                ng-reflect-ng-class="[object Object]"
              >
                <p class="mb-0 m-t-20">
                  Lorate Solid Men's Fashion Full Sleeves Latest Jacket for Men
                  With <br />
                  Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.
                </p>
              </div>
              <div
                id="top-contact"
                role="tabpanel"
                aria-labelledby="contact-top-tab"
                class="tab-pane fade"
                ng-reflect-ng-class="[object Object]"
              >
                <p class="mb-0 m-t-20">
                  Rock Paper Scissors Various Dots Half Sleeves Girl’s Regular
                  Fit T-Shirt I 100% Cotton<br />
                  T Shirt with Half Sleeve Round Neck I Regular Wear Solid Kids
                  Tees and Black Sleeve.
                </p>
              </div>
              <div
                id="top-brand"
                role="tabpanel"
                aria-labelledby="brand-top-tab"
                class="tab-pane fade"
                ng-reflect-ng-class="[object Object]"
              >
                <p class="mb-0 m-t-20">
                  Product Dimensions : 18 x 18 x 4 cm
                  <br />
                  Date First Available : 31 March 2022
                  <br />
                  Manufacturer : Tee Stores <br />
                  Item part number : TS-WT721-XS-WHITE
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Details Tab ends -->
    </div>

    <!-- Right side starts -->
    <div class="col-12 col-md-3 col-xl-3 order-1 order-md-3">
      <div class="md-sidebar">
        <div class="card">
          <div class="card-header">
            <h4>Booking Summary</h4>
          </div>
          <div class="card-body">
            <div class="product-page-details">
              <h5>3D Printer Training Semester 2</h5>
            </div>
            <hr />
            <div>
              <div class="mt-3">
                <p class="card-text">
                  <i class="icon-calendar me-2"></i>September 15, 2024, Friday
                </p>
                <p class="card-text">
                  <i class="icon-timer me-2"></i>10:00 am - 2:00 pm
                </p>
                <p class="card-text">
                  <i class="icon-location-pin me-2"></i>Kura Matahuna Unleash
                  Space
                </p>
              </div>
            </div>
            <div class="mt-3">
              <span class="badge bg-success me-2">Free</span>
              <span class="badge bg-info">Open to All</span>
            </div>
            <hr />
            <div class="mt-5">
              <div class="btn-showcase">
                <a class="btn btn-lg btn-primary w-100 fw-bold"> Book Now</a
                ><a class="btn btn-outline-secondary-2x"> Add to Calendar </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right side ends -->
    </div>
  </div>
</div>
