<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <!-- Left side starts -->
    <div class="col-xxl-3 col-xl-4">
      <div class="md-sidebar">
        <a class="btn btn-primary email-aside-toggle md-sidebar-toggle"
          >Training filter</a
        >
        <div class="md-sidebar-aside job-sidebar">
          <div
            id="accordionoc"
            class="default-according style-1 faq-accordion job-accordion"
          >
            <div class="row">
              <div class="col-xl-12">
                <div>
                  <div class="card">
                    <div class="card-header">
                      <h5 class="mb-0">
                        <button
                          data-bs-toggle="collapse show"
                          class="btn btn-link"
                          aria-expanded="false"
                        >
                          Find Training
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseicon"
                      class="collapse show"
                      ng-reflect-collapsed="true"
                    >
                      <div class="card-body filter-cards-view animate-chk">
                        <div class="job-filter">
                          <div class="faq-form">
                            <input
                              type="text"
                              placeholder="Search.."
                              class="form-control"
                            />
                            <div class="search-icon" ng-reflect-icon="search">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-search search-icon"
                              >
                                <circle cx="11" cy="11" r="8"></circle>
                                <line
                                  x1="21"
                                  y1="21"
                                  x2="16.65"
                                  y2="16.65"
                                ></line>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="checkbox-animated mt-0 ng-star-inserted">
                          <div class="learning-header">
                            <span class="f-w-700">Courses</span>
                          </div>
                          <label class="d-block ng-star-inserted" for="chk-ani"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani"
                              type="checkbox"
                              name=""
                            />3D Printer </label
                          ><label
                            class="d-block ng-star-inserted"
                            for="chk-ani0"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani0"
                              type="checkbox"
                              name=""
                            />Laser Cutter </label
                          ><label
                            class="d-block ng-star-inserted"
                            for="chk-ani1"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani1"
                              type="checkbox"
                              name=""
                            />Sewing Machine
                          </label>
                          <!--container-->
                        </div>
                        <div class="checkbox-animated mt-0 ng-star-inserted">
                          <div class="learning-header">
                            <span class="f-w-700">Semester</span>
                          </div>
                          <label class="d-block ng-star-inserted" for="chk-ani6"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani6"
                              type="checkbox"
                              name=""
                            />Semester 1 2024</label
                          ><label
                            class="d-block ng-star-inserted"
                            for="chk-ani7"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani7"
                              type="checkbox"
                              name=""
                            />Semester 2 2024</label
                          ><label
                            class="d-block ng-star-inserted"
                            for="chk-ani8"
                            ><input
                              class="checkbox_animated"
                              id="chk-ani8"
                              type="checkbox"
                              name=""
                            />Semester 3 2024</label
                          ><!--container-->
                        </div>
                        <!--container--><button
                          type="button"
                          class="btn btn-primary text-center"
                        >
                          Filter
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Left side ends -->

    <!-- Main start -->
    <div class="col-xxl-9 col-xl-8 box-col-12">
      <div class="row">
        <div class="col-xl-12 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-list row">
              <div class="col-sm-5">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
              </div>
              <div class="col-sm-7">
                <div class="blog-details">
                  <div class="blog-date"><span>05</span> September 2024</div>
                  <h3>3D Printer Training Semester 2</h3>
                  <div class="blog-bottom-content">
                    <ul class="blog-social">
                      <li>12:00 pm 1 hour</li>
                      <li>Kura Matahuna Unleash Space</li>
                    </ul>
                    <hr />
                    <p class="mt-4">
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-list row">
              <div class="col-sm-5">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
              </div>
              <div class="col-sm-7">
                <div class="blog-details">
                  <div class="blog-date"><span>07</span> September 2024</div>
                  <h3>Laser Cutter Training Semester 2</h3>
                  <div class="blog-bottom-content">
                    <ul class="blog-social">
                      <li>12:00 pm 1 hour</li>
                      <li>Kura Matahuna Unleash Space</li>
                    </ul>
                    <hr />
                    <p class="mt-4">
                      Lorem Ipsum s simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Small box starts -->
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <img
                  alt=""
                  class="img-fluid top-radius-blog"
                  src="assets/images/faq/4.jpg"
                />
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 xl-50 col-sm-6 box-col-6 ng-star-inserted">
          <div class="card">
            <div class="blog-box blog-grid text-center product-box">
              <div class="product-img">
                <a class="" [routerLink]="['/users/training/course']">
                  <img
                    alt=""
                    class="img-fluid sm-100-w"
                    src="assets/images/faq/2.jpg"
                  />
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <i class="icon-link"></i>
                    </li>
                    <li>
                      <i class="icon-import"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blog-details-main">
                <h6 class="blog-bottom-details">
                  3D Printer Training Semester 2
                </h6>
                <hr />
                <ul class="blog-social">
                  <li>10 September 2024, 12:00 pm</li>
                  <li>1 hour</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--Small box ends -->
      </div>
    </div>
    <!-- Main end -->
  </div>
</div>
