<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-12 col-md-3 col-xl-2">
            <div class="card">
                <div class="card-header">
                    <h4>Member Contents</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="icofont icofont-arrow-right"></i>
                            <a [routerLink]="['/users/registration']">My Account</a>
                        </li>
                        <li class="list-group-item">
                            <i class="icofont icofont-arrow-right"></i>
                            <a [routerLink]="['/users/history']">My History</a>
                        </li>
                        <li class="list-group-item">
                            <i class="icofont icofont-arrow-right"></i>
                            <a [routerLink]="['/users/training']">View Trainings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-12 col-md-6 col-xl-8">
            <div class="row">
                <!-- My Activity -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4>My Activity</h4>
                            <a [routerLink]="['/users/history']">See All</a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex updates-faq-main">
                                <div class="updates-faq">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-check font-primary"
                                    >
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 updates-bottom-time"><p
                                >Orientation</p>
                                    <p>Monday, 12 April 2023</p></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex updates-faq-main">
                                <div class="updates-faq">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-check font-primary"
                                    >
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 updates-bottom-time"><p
                                >Quiz</p>
                                    <p>Monday, 12 April 2023</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Training History -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4>Training History</h4>
                            <a [routerLink]="['/users/history']">See All</a>
                        </div>
                        <div class="card-body">
                            <!-- History content -->
                            <div class="table-responsive custom-scrollbar">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div>3D Printer Training</div>
                                                <span class="f-m-light">Semester 2</span>
                                            </div>
                                        </td>
                                        <td>Friday, 27 September 2024</td>
                                        <td><span class="badge badge-info">Booking</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div>Laser Cutter Training</div>
                                                <span class="details">Semester 1</span>
                                            </div>
                                        </td>
                                        <td>Friday, 7 April 2023</td>
                                        <td><span class="badge badge-secondary">Done</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recommend courses -->
            <div class="card">
                <div class="card-header">
                    <h4>Recommend courses</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a class="" [routerLink]="['/users/training/course']">
                                        <div class="card">
                                            <div class="blog-box blog-grid text-center product-box">
                                                <div class="product-img">
                                                    <img alt=""
                                                         src="assets/images/faq/2.jpg"
                                                         class="img-fluid sm-100-w">
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><i class="icon-link"></i></li>
                                                            <li><i class="icon-import"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog-details-main">
                                                    <h6 class="blog-bottom-details"> 3D Printer Training Semester
                                                        2 </h6>
                                                    <hr>
                                                    <ul class="blog-social">
                                                        <li>10 September 2024, 12:00 pm</li>
                                                        <li>1 hour</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- End of course block -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Sidebar -->
        <div class="col-12 col-md-3 col-xl-2">
            <div class="card card-body bg-primary text-white">
                <div class="d-flex faq-widgets my-3">
                    <div class="flex-grow-1">
                        <h3 class="text-white">
                            let's resume <br/>your creative journey
                        </h3>
                        <p>Easy to begin, simple to pause</p>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-book-open"

                    >
                        <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                        <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                    </svg>
                </div>
                <a
                        type="button"
                        placement="top"
                        class="btn btn-outline-primary btn-progress"
                        [routerLink]="['/users/training']"
                >
                    Resume
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>