<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="top-wrap">
        <div class="row">

            <!-- Main starts-->
            <div
                    class="col-10"
                    id="main-content"
            >

                <div class="card">
                    <div class="card-block row">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="table-responsive custom-scrollbar">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Training Course</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Trainer</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <div class="user-data">
                                                <div>3D Printer Training </div>
                                                <span class="details">Semester 2</span>
                                            </div>
                                        </td>
                                        <td>Friday, 27 September 2024</td>
                                        <td>Trainer Name</td>
                                        <td><span class="badge badge-info">Booking</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <div class="user-data">
                                                <div>Laser Cutter Training</div>
                                                <span class="details">Semester 2</span>
                                            </div>
                                        </td>
                                        <td>Monday, 3 September 2024</td>
                                        <td>Trainer Name</td>
                                        <td><span class="badge badge-info">Booking</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <div class="user-data">
                                                <div>Laser Cutter Training</div>
                                                <span class="details">Semester 1</span>
                                            </div>
                                        </td>
                                        <td>Friday, 7 April 2023</td>
                                        <td>Trainer Name</td>
                                        <td><span class="badge badge-secondary">Done</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Quiz</td>
                                        <td>Monday, 1 April 2023</td>
                                        <td>-</td>
                                        <td><span class="badge badge-secondary">Done</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Orientation</td>
                                        <td>Monday, 1 April 2023</td>
                                        <td>-</td>
                                        <td><span class="badge badge-secondary">Done</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main ends-->

            <!-- Right Sidebar starts-->
            <div
                    class="col-12 col-md-3 col-xl-2 order-1 order-md-3"
                    id="sidebar-right"
            >
                <div class="card">
                    <div class="card-header">
                        <h4>Popular courses</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="blog-box blog-grid text-center product-box">
                                <div class="product-img">
                                    <a
                                            ng-reflect-router-link="/users/training/course"
                                            href="/users/training/course"
                                    ><img
                                            alt=""
                                            src="assets/images/faq/2.jpg"
                                            class="img-fluid sm-100-w"
                                    /></a>
                                </div>
                                <div class="blog-details-main">
                                    <h6 class="blog-bottom-details">3D Printer Training2</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="blog-box blog-grid text-center product-box">
                                <div class="product-img">
                                    <a
                                            ng-reflect-router-link="/users/training/course"
                                            href="/users/training/course"
                                    ><img
                                            alt=""
                                            src="assets/images/faq/2.jpg"
                                            class="img-fluid sm-100-w"
                                    /></a>
                                </div>
                                <div class="blog-details-main">
                                    <h6 class="blog-bottom-details">3D Printer Training</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Sidebar ends-->
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
