<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      
      <!-- Left Sidebar -->
      <div class="col-12 col-md-3 col-xl-2 order-2 order-md-1" id="sidebar-left">
        <div class="md-sidebar job-sidebar">
          <div class="md-sidebar-aside">
            <div class="file-sidebar">
              <div class="card">
                <div class="card-body">
                  <ul>
                    <li>
                      <a [routerLink]="['/users/member']">
                        <div class="btn btn-primary">
                          <app-feather-icons [icon]="'home'"></app-feather-icons>
                          My Portal
                        </div>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/users/member']">
                        <div class="btn btn-light">
                          <app-feather-icons [icon]="'user'"></app-feather-icons>
                          Account
                        </div>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/users/history']">
                        <div class="btn btn-light">
                          <app-feather-icons [icon]="'clock'"></app-feather-icons>
                          History
                        </div>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/users/training']">
                        <div class="btn btn-light">
                          <app-feather-icons [icon]="'codepen'"></app-feather-icons>
                          Training
                        </div>
                      </a>
                    </li>
                  </ul>
                  <hr>
                  <ul>
                    <li>
                      <div class="pricing-plan">
                        <h5>Got Questions? </h5>
                        <p>Head Back to the Guide</p>
                        <a [routerLink]="['/users/guide']">
                          <div class="btn btn-primary btn-xs w-100 mt-4">User Guide</div>
                        </a>
                        <img class="bg-img"
                             src="assets/images/dashboard/folder.png" alt="">
                      </div>
                    </li>
                  </ul>
                  <hr>
                  <ul>
                    <li>
                      <div class="btn btn-outline-primary">
                        <app-feather-icons [icon]="'star'"></app-feather-icons>
                        Test
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Main Content -->
      <div class="col-12 col-md-9 col-xl-10 order-1 order-md-2" id="main-content">
        <div class="card">
          <div class="card-block row">
            <div class="col-sm-12 col-lg-12 col-xl-12">
              <div class="table-responsive custom-scrollbar">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Training Course</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Trainer</th>
                    <th scope="col">Note</th>
                    <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      <div class="user-data">
                        <div>3D Printer Training</div>
                        <span class="f-m-light">Semester 2</span>
                      </div>
                    </td>
                    <td>Friday, 27 September 2024</td>
                    <td>10:00am - 11:30am</td>
                    <td>Trainer Name</td>
                    <td></td>
                    <td><span class="badge badge-info">Booking</span></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                      <div class="user-data">
                        <div>Laser Cutter Training</div>
                        <span class="details">Semester 2</span>
                      </div>
                    </td>
                    <td>Monday, 3 September 2024</td>
                    <td>10:00am - 11:30am</td>
                    <td>Trainer Name</td>
                    <td></td>
                    <td><span class="badge badge-info">Booking</span></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      <div class="user-data">
                        <div>Laser Cutter Training</div>
                        <span class="details">Semester 1</span>
                      </div>
                    </td>
                    <td>Friday, 7 April 2023</td>
                    <td>10:00am - 11:30am</td>
                    <td>Trainer Name</td>
                    <td></td>
                    <td><span class="badge badge-secondary">Done</span></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Quiz</td>
                    <td>Monday, 1 April 2023</td>
                    <td></td>
                    <td>-</td>
                    <td></td>
                    <td><span class="badge badge-secondary">Done</span></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Orientation</td>
                    <td>Monday, 1 April 2023</td>
                    <td></td>
                    <td>-</td>
                    <td></td>
                    <td><span class="badge badge-secondary">Done</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main ends-->
    </div>
    <!-- Modal comment-->
    <div class="m-t-30 d-flex justify-content-end">
      <a type="button" class="text-gray"
         (click)="openModal(modalContent)">
        <app-feather-icons [icon]="'message-square'"></app-feather-icons>
      </a>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!--Modal comment-->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalTitle">Modal Title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Modal content goes here</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

