<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      <!-- Left Sidebar starts-->
      <div
        class="col-12 col-md-3 col-xl-2 order-2 order-md-1 sidebar-left-wrapper"
        id="sidebar-left"
      >
        <div class="card">
          <ul role="tablist" class="sidebar-left-icons nav nav-pills">
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use
                        href="assets/svg/icon-sprite.svg#product-category"
                      ></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Guide</h6>
                  <p class="mb-0">details</p>
                </div></a
              >
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-form"></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Membership registration</h6>
                  <p class="mb-0">details</p>
                </div></a
              >
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link active"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#advance"></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Orientation</h6>
                  <p class="mb-0">details</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use
                        href="assets/svg/icon-sprite.svg#stroke-project"
                      ></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Quiz</h6>
                  <p class="mb-0">details</p>
                </div></a
              >
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use
                        href="assets/svg/icon-sprite.svg#stroke-gallery"
                      ></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Event Bookings</h6>
                  <p class="mb-0">details</p>
                </div></a
              >
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link"
                ><div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use
                        href="assets/svg/icon-sprite.svg#stroke-button"
                      ></use>
                    </svg>
                  </div>
                </div>
                <div
                  class="product-tab-content d-flex flex-column justify-content-center"
                >
                  <h6 class="nav-progress mb-1">Event Booking Details</h6>
                  <p class="mb-0">details</p>
                </div></a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Left Sidebar ends-->

      <!-- Main starts-->
      <div
        class="col-12 col-md-6 col-xl-8 order-1 order-md-2"
        id="main-content"
      >
        <blockquote class="blockquote mb-4">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </blockquote>

        <!-- Steps inside the card -->
        <div class="card">
          <div class="card-header pb-0">
            <h4>Orientation</h4>
          </div>
          <div class="card-body">
            <div class="blog-box blog-shadow">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/QF8Zr7_-2A8"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4>Sample Video</h4>
                  <span
                    >lorem ipsum dolor sit amet, consectetur adipisicing
                    elit</span
                  >
                </div>
                <div class="card-body">
                  <p>
                    "Sample-page" is a generic term used to refer to a basic,
                    placeholder, or example page that developers or designers
                    use as a starting point for building or testing a website or
                    application. It is not an official or standard term but
                    rather a descriptive name commonly used in web development
                    and design contexts A sample page typically contains basic
                    elements like headings, paragraphs, images, buttons, and
                    links. It may also include placeholder text or images to
                    represent content that will be replaced with actual content
                    in the final version.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 m-t-30">
              <nav aria-label="...">
                <ul class="pagination pagination-primary justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1"
                      >Previous</a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)"
                      >2<span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="card-footer text-end">
            <div class="d-flex flex-row-reverse bd-highlight btn-lg m-3">
              <a
                type="button"
                placement="top"
                class="btn btn-lg-x btn-air-primary btn-pill btn-secondary"
                [routerLink]="['/users/quiz']"
              >
                Next
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Main ends-->

      <!-- Right Sidebar starts-->
      <div class="col-12 col-md-3 col-xl-2 order-3" id="sidebar-right">
        <div class="card p-s">
          <div class="card-body">
            <div class="d-flex gap-4 mb-4">
              <div>
                <img
                  class="me-3 rounded-circle"
                  src="../assets/images/user/user.png"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <h4 class="f-w-600">KAY SHOJI</h4>
                <p>1233456789</p>
              </div>
            </div>
            <ul class="contact-list p-2">
              <li class="d-flex mt-2 mb-4">
                <span class="badge badge-info">Student</span>
                <span class="badge badge-warning">Staff</span>
                <span class="badge badge-success">Visitor</span>
              </li>

              <li class="d-flex align-items-center">
                <i class="fa fa-envelope-o side-icon"></i>
                <span class="p-2">kay.shoji&#64;auckland.ac.nz</span>
              </li>
              <li class="d-flex align-items-center">
                <i class="fa fa-phone side-icon"></i>
                <span class="p-2">+64 21 345 678 </span>
              </li>
              <li class="d-flex align-items-center">
                <i class="fa fa-institution side-icon"></i>
                <span class="p-2">Bachelor of science</span>
              </li>
            </ul>
            <hr class="dotted" />

            <ul class="contact-list mt-4">
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-info svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Member</span>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-success svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Orientation</span>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="iconbg badge-light-danger svg-wrap"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-circle"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>
                </span>
                <span class="p-2">Quiz</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Right Sidebar ends-->
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
