<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      <!-- Left Sidebar starts-->
      <div class="col-12 col-md-3 col-xl-2 order-3 order-md-1 sidebar-left-wrapper" id="sidebar-left">
        <div class="card">
          <ul role="tablist" class="sidebar-left-icons nav nav-pills">
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#product-category"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Guide</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link active">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-form"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Registration</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-maps"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Orientation</h6>
                  <p class="mb-0">15 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-faq"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Quiz</h6>
                  <p class="mb-0">10 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Bookings</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-learning"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Trainings</h6>
                  <p class="mb-0">60 min</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Left Sidebar ends-->
      
      <!-- Main starts-->
      <div
          class="col-12 col-md-6 col-xl-8 order-1 order-md-2"
          id="main-content"
      >
        <form class="card">
          <div class="card-header pb-0">
            <h4 class="card-title mb-0">Membership Registration</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                      class="form-control"
                      type="text"
                      value="Kay Shoji"
                      aria-label="disabled input example"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input
                      class="form-control"
                      type="email"
                      value="kay.shoji@auckland.ac.nz"
                      aria-label="disabled input example"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <input
                      class="form-control"
                      type="phone"
                      value="020-1234-5678"
                      aria-label="disabled input example"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label">Address</label>
                  <input
                      class="form-control"
                      type="text"
                      placeholder="Home Address"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="mb-3">
                  <label class="form-label">City</label>
                  <input class="form-control" type="text" placeholder="City"/>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="mb-3">
                  <label class="form-label">Postal Code</label>
                  <input
                      class="form-control"
                      type="number"
                      placeholder="ZIP Code"
                  />
                </div>
              </div>
              <div class="col-md-5">
                <div class="mb-3">
                  <label class="form-label">Faculty</label>
                  <select class="form-control btn-square">
                    <option value="0">--Select--</option>
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Field</label>
                  <input class="form-control" type="text" placeholder=""/>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Field</label>
                  <input
                      class="form-control"
                      type="text"
                      placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Field</label>
                  <input class="form-control" type="text" placeholder=""/>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Field</label>
                  <input
                      class="form-control"
                      type="text"
                      placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div>
                  <label class="form-label">Note</label>
                  <textarea
                      class="form-control"
                      rows="4"
                      placeholder="Enter About your description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-footer text-end">
            <div class="d-flex flex-row-reverse bd-highlight btn-lg m-3">
              <a
                  type="button"
                  class="btn btn-primary"
                  [routerLink]="['/users/orientation']">
                Registrer
              </a>
            </div>
          </div>
        </form>
      </div>
      <!-- Main ends-->
      
      <!-- Right Sidebar starts-->
      <div
          class="col-12 col-md-3 col-xl-2 order-1 order-md-3"
          id="sidebar-right"
      >
        <div class="card card-body bg-primary text-white">
          <div class="d-flex faq-widgets my-3">
            <div class="flex-grow-1">
              <h3 class="text-white">
                Step 2<br/>
                Membership
              </h3>
              <p>Easy to begin, simple to pause</p>
            </div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-book-open"
                _ngcontent-ng-c1511804846=""
            >
              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg>
          </div>
          
          <a
              type="button"
              placement="top"
              class="btn btn-outline-primary btn-progress"
              [routerLink]="['/users/orientation']"
          >
            Next<i class="icon-arrow-right"></i>
          </a>
          <hr/>
          <a
              type="button"
              placement="top"
              class="btn btn-outline-primary btn-progress"
              [routerLink]="['/users/guide']"
          >
            Save<i class="icon-save"></i>
          </a>
          <a
              type="button"
              placement="top"
              class="btn btn-outline-primary btn-progress"
              [routerLink]="['/users/guide']"
          >
            Cancel<i class="icon-close"></i>
          </a>
        </div>
        <!-- Modal comment-->
        <div class="m-t-30 d-flex justify-content-end">
          <a type="button" class="text-gray"
             (click)="openModal(modalContent)">
            <app-feather-icons [icon]="'message-square'"></app-feather-icons>
          </a>
        </div>
      </div>
      <!-- Right Sidebar ends-->
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!--Modal comment-->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalTitle">Modal Title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Modal content goes here</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
