<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="top-wrap">
    <div class="row">
      <!-- Left Sidebar starts-->
      <div class="col-12 col-md-3 col-xl-2 order-3 order-md-1 sidebar-left-wrapper" id="sidebar-left">
        <div class="card">
          <ul role="tablist" class="sidebar-left-icons nav nav-pills">
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#product-category"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Guide</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link active">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-form"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Registration</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-maps"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Orientation</h6>
                  <p class="mb-0">15 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-faq"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Quiz</h6>
                  <p class="mb-0">10 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Bookings</h6>
                  <p class="mb-0">5 min</p>
                </div>
              </a>
            </li>
            <li class="nav-item ng-star-inserted">
              <a id="detail-product-tab" class="nav-link">
                <div class="nav-rounded">
                  <div class="product-icons">
                    <svg class="stroke-icon">
                      <use href="assets/svg/icon-sprite.svg#stroke-learning"></use>
                    </svg>
                  </div>
                </div>
                <div class="product-tab-content d-flex flex-column justify-content-center">
                  <h6 class="nav-progress mb-1">Trainings</h6>
                  <p class="mb-0">60 min</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Left Sidebar ends-->
      
      <!-- Main starts-->
      <div
          class="col-12 col-md-6 col-xl-8 order-1 order-md-2"
          id="main-content"
      >
        <div class="card">
          
          <div class="card-header pb-0">
            <h4 class="card-title mb-0">Membership Registration</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="name" class="form-label">Name *</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
                  <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                    <small *ngIf="f['name'].errors?.['required']">Name is required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="email" class="form-label">Email address *</label>
                  <input type="email" class="form-control" id="email" formControlName="email">
                  <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                    <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
                    <small *ngIf="f['email'].errors?.['email']">Please enter a valid email address.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="phone" class="form-label">Phone *</label>
                  <input type="tel" class="form-control" id="phone" formControlName="phone">
                  <div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-danger">
                    <small *ngIf="f['phone'].errors?.['required']">Phone is required.</small>
                    <small *ngIf="f['phone'].errors?.['pattern']">Please enter a valid phone number (e.g.,
                      020-1234-5678).</small>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address" formControlName="address">
                </div>
                <div class="col-md-3">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="col-md-3">
                  <label for="postalCode" class="form-label">Postal Code</label>
                  <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="fieldString" class="form-label">Field String</label>
                  <input type="text" class="form-control" id="fieldString" formControlName="fieldString">
                </div>
                <div class="col-md-6">
                  <label for="fieldNumber" class="form-label">Field Number</label>
                  <input type="number" class="form-control" id="fieldNumber" formControlName="fieldNumber">
                  <div *ngIf="f['fieldNumber'].touched && f['fieldNumber'].invalid" class="text-danger">
                    <small *ngIf="f['fieldNumber'].errors?.['pattern']">Please enter a valid number.</small>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="fieldDropdown" class="form-label">Field Dropdown</label>
                  <select class="form-control" id="fieldDropdown" formControlName="fieldDropdown">
                    <option value="">--Select--</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <!-- This div is intentionally left empty for layout purposes -->
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <label for="fieldTextarea" class="form-label">Field Textarea</label>
                  <textarea class="form-control" id="fieldTextarea" formControlName="fieldTextarea" rows="5"></textarea>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Registrer</button>
              </div>
            </form>
          
          </div>
        </div>
      </div>
      <!-- Main ends-->
      
      <!-- Right Sidebar starts-->
      <div
          class="col-12 col-md-3 col-xl-2 order-1 order-md-3"
          id="sidebar-right"
      >
        <div class="card card-body bg-primary text-white">
          <div class="d-flex faq-widgets my-3">
            <div class="flex-grow-1">
              <h3 class="text-white">
                Step 2<br/>
                Membership
              </h3>
              <p>Easy to begin, simple to pause</p>
            </div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-book-open"
                _ngcontent-ng-c1511804846=""
            >
              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg>
          </div>
          <button class="btn btn-outline-primary btn-progress btn-next" [disabled]="!isRegistered" [routerLink]="['/users/orientation']">
            Next <i class="feather feather-arrow-right"></i>
          </button>
          <hr/>
          <button
              type="button"
              placement="top"
              class="btn btn-outline-primary btn-progress"
              [routerLink]="['/users/guide']"
          >
            Save<i class="icon-save"></i>
          </button>
          <a
              type="button"
              placement="top"
              class="btn btn-outline-primary btn-progress"
              [routerLink]="['/users/guide']"
          >
            Cancel<i class="icon-close"></i>
          </a>
        </div>
        <!-- Modal comment-->
        <div class="m-t-30 d-flex justify-content-end">
          <a type="button" class="text-gray"
             (click)="openModal(modalContent)">
            <app-feather-icons [icon]="'message-square'"></app-feather-icons>
          </a>
        </div>
      </div>
      <!-- Right Sidebar ends-->
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!--Modal comment-->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalTitle">Modal Title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Modal content goes here</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>
