/* You can add global styles to this file, and also import other style files */
@import "../public/assets/scss/app.scss";
// Typography
span.details {
  color: $body-grey
}
// page layout
.page-wrapper.horizontal-wrapper .page-header {
  background-color: $primary-color;
}
// TODO
.page-body > .container-fluid {
  margin-top: -40px;
}

// left side progress
.sidebar-left-wrapper {
  border-right: none;
}
.nav-progress {
  font-weight: 700 !important;
  font-size: 16px !important;
}
.side-icon {
  color: $theme-body-sub-title-color;
  font-size: 22px;
  padding-right: 5px;
}
.sidebar-left-wrapper ul {
  padding: 20px;
}

.sidebar-left-wrapper h6 {
  color: var(--theme-default);
  font-weight: 500;
}
.sidebar-left-wrapper p {
  font-size: 14px;
}

// custom button for right side
.btn-progress {
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
}
.btn-progress-s {
  font-size: 14px;
  background-color: #fff;
}
.btn-progress i {
  font-weight: 700;
  margin-left: 8px;
}
.btn-progress-s i {
  margin-left: 8px;
}

// custom badge for step
.badge.step {
  font-weight: 700;
  font-size: 16px;
  margin-right: 1em;
}

p.light-detail {
  color: $light-txt-color;
  font-size: 14px;
}

a {
  font-size: inherit !important;
}
