/* You can add global styles to this file, and also import other style files */
@import "../public/assets/scss/app.scss";

.page-wrapper.horizontal-wrapper .page-header {
  background-color: $primary-color;
}

.page-wrapper.horizontal-wrapper .page-body-wrapper .page-body {
  margin-top: 70px;
}

.sidebar-left-wrapper {
  border-right: 1px solid var(--recent-dashed-border);
}
.nav-progress {
  font-weight: 700 !important;
  font-size: 16px !important;
}

.side-icon {
  color: $theme-body-sub-title-color;
  font-size: 22px;
  padding-right: 5px;
}

.btn-lg-x {
  font-weight: 700;
  font-size: 24px;
}

.sidebar-left-wrapper {
  border-right: 1px solid var(--recent-dashed-border);
  padding: 0;
}
.sidebar-left-wrapper ul {
  padding: 20px;
}

.sidebar-left-wrapper h6 {
  color: var(--theme-default);
  font-weight: 500;
}
.sidebar-left-wrapper p {
  font-size: 14px;
}
