<div class="header-wrapper row m-0">
  <div class="header-logo-wrapper col-auto p-0">
    <div class="logo-wrapper">
      <a [routerLink]="['/dashboard/minimal']">
        <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="">
        <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="">
      </a>
    </div>
    <div class="toggle-sidebar" (click)="openMenu()">
      <app-common-svg-icon [icon]="'stroke-animation'" [class]="'sidebar-toggle'"></app-common-svg-icon>
    </div>
  </div>
  <form class="col-sm-4 form-inline search-full d-none d-xl-block"> 
    <app-search></app-search>
  </form>
  <div class="nav-right col-xl-8 col-lg-12 col-auto pull-right right-header p-0">
    <ul class="nav-menus" (clickOutside)="clickOutside()">
      <li class="serchinput">
        <div class="serchbox" (click)="openSearch()">
          <app-common-svg-icon [icon]="'search'"></app-common-svg-icon>
        </div>
        <div class="form-group search-form" [class.open]="open">
          <input type="text" placeholder="Search here..." [(ngModel)]="text" [ngModelOptions]="{ standalone: true }"
            (keyup)="searchTerm(text)">
        </div>
      </li>
      <li class="onhover-dropdown">
        <app-notification></app-notification>
      </li>
      <li class="onhover-dropdown">
        <app-bookmark></app-bookmark>
      </li>
      <li class="onhover-dropdown">
        <app-message></app-message>
      </li>
      <li class="cart-nav onhover-dropdown">
        <app-cart></app-cart>
      </li>
      <li>
        <app-theme></app-theme>
      </li>
      <li class="language-nav" (click)="languageToggle()">
        <app-language></app-language>
      </li>
      <li class="profile-nav onhover-dropdown pe-0 py-0">
        <app-profile></app-profile>
      </li>
      @if(menuItems.length){
      <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer" [class.open]="open">
        @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
        <div class="ProfileCard u-cf" [routerLink]="menuItem.path">
          <div class="ProfileCard-details">
            <div class="ProfileCard-realName">
              <a class="realname" (click)="removeFix()">{{ menuItem.title }}</a>
              <div class="ProfileCard-avatar">
                <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      }
      <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
        <div class="tt-dataset tt-dataset-0">
          <div class="EmptyMessage">Opps!! There are no result found.</div>
        </div>
      </div>
    </ul>
  </div>
</div>